.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search1 {
  width: 100%;
  height: 60px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 2px 2px 2px 2px lightgrey;
  border-bottom: 1px solid lightgrey;
}

.search2 {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 2px 2px lightgrey;
}

.search2 > select {
  width: 10%;
  height: 35px;
  padding: 0;
  margin-left: 10%;
  border-color: lightgray;
  border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
}

.search2 > input {
  width: 20%;
  height: 35px;
  margin-left: 1%;
  border-color: lightgray;
  border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
}

.search2 > button {
  width: 3%;
  height: 35px;
  padding: 0;
  margin-left: 1%;
  color: white;
  background-color: black;
  border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
}

.total {
  margin: 20px 0;
  margin-right: auto;
  font-size: 13px;
}

.content {
  width: 100%;
  height: 60px;
  display: flex;
  text-align: center;
  font-size: 12px;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 2px 2px 2px 2px lightgrey;
  border-bottom: 1px solid lightgrey;
}

.content > div:nth-child(1) {width: 5%}
.content > div:nth-child(2) {width: 20%}
.content > div:nth-child(3) {width: 20%}
.content > div:nth-child(4) {width: 40%}
.content > div:nth-child(5) {width: 5%}
.content > div:nth-child(6) {width: 5%}
.content > div:nth-child(7) {width: 5%}

.navigation {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 2px 2px lightgrey;
}